.categorias {
  position: sticky;
  left: 0;
  top: 20%;
  margin: 10px;
  max-width: 100px;
  padding: 10px 30px;
  text-align: start;
}

.categorias ul {
  list-style-type: none;
  padding: 0;
}

.categorias h2 {
  color: #312783;
  font-size: 1.3rem;
  margin: 0;
}

.categorias ul li {
  margin: 20px 0;
}
