li {
  margin-left: 20px;
  padding-top: 0px;
}

li a {
  text-decoration: none;
  color: #0f0096;
  font-weight: bold;
  transition: color 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-height: 30px;
    margin: 5px 0;
    width: auto;
    object-fit: contain;
  }
}

li a:hover {
  color: #4b7bff;
}
