.servicio {
  display: flex;
  margin: 30px;
  max-width: 700px;
  padding-right: 100px;
}

.servicio-img {
  margin: 0px 10px;
  max-height: auto;
  max-width: 400px;

  img {
    object-fit: cover;
  }
}

.servicio-info {
  padding: 10px;
  text-align: center;
}

.servicio-info h2 {
  text-align: center;
}

.info-contacto-servicio {
  position: fixed;
  right: 50px;
  top: 150px;
  background-color: rgb(255, 245, 203);
  text-align: center;
  padding: 20px;
}
